* {
  padding: 0;
  margin: 0;
  border-collapse: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* font-family: 'Crimson Text', serif; */
  color: hsla(200, 100%, 10%, 0.85);
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.5;
  border-collapse: collapse;
  background-color: hsla(200, 100%, 96%, 1);
  scroll-behavior: smooth;
}

.nav-grid {
  position: fixed;
  width: 100vw;
  top: 0;
  text-align: center;
  color: hsla(200, 100%, 96%, 0.85);
  font-size: 1.2rem;
  line-height: 1.25;
  background-color: hsla(200, 100%, 10%, 1);
}

.nav-link {
  display: inline;
  list-style: none;
  align-self: center;
}

a:hover {
  background-color: hsla(200, 100%, 90%, 0.1);
  transition: 0.2s;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: solid 0.05rem hsla(200, 100%, 90%, 0.85);
  padding: 0.8rem;
  margin: 0.8rem 0.2em;
}

/* .selected {
  background-color: hsla(200, 100%, 90%, 0.1);
  transition: 0.2s;
} */

.hero {
  display: grid;
  place-content: center;
  background: url('/images/james-donovan-kFHz9Xh3PPU-unsplash1.jpg') no-repeat
    center/cover;
  height: 75vh;
  text-align: center;
  line-height: 1.25;
  padding: 7.68rem 0 0 0;
}

.text-container {
  background: hsla(200, 100%, 10%, 0.9);
  padding: 2rem;
  margin: 2rem 0;
}

.title {
  font-family: 'Crimson Text', serif;
  font-size: 4.5rem;
  letter-spacing: 0.75rem;
  color: hsla(200, 100%, 90%, 1);
}

.subtitle {
  font-size: 1.5rem;
  color: hsla(200, 100%, 90%, 0.85);
}

.about,
.services {
  display: grid;
  place-content: center;
  padding: 3.3rem 0 0 0;
}

.about-section-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1.5rem;
  margin: 1.5rem;
}

.about-section-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1.5rem;
  margin: 1.5rem;
}

.parallax {
  width: 99vw;
  height: 20rem;
  background: top/cover no-repeat url('/images/6.jpg');
  /* background-attachment: fixed; */
  display: grid;
  place-content: center;
}

.parallax-text {
  text-align: center;
}

.title-secondary {
  font-size: 2rem;
  letter-spacing: 0.1rem;
}

.subtitle-secondary {
  max-width: 50rem;
  font-size: 1rem;
}

.services-section-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1.5rem;
  margin: 1.5rem auto;
}

.services-section-bottom {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1.5rem;
  place-items: center;
}

.contact {
  scroll-behavior: smooth;
  height: 35rem;
  background: linear-gradient(
      hsla(200, 100%, 10%, 0.75),
      hsla(200, 100%, 10%, 0.75)
    ),
    no-repeat top/cover url('/images/12.jpg');
  /* background-attachment: fixed; */
  margin: 2rem 0 0 0;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, minmax(20rem, 25rem));
  grid-template-rows: auto;
  grid-gap: 1rem;
  place-content: center;
  font-size: 1rem;
  text-align: center;
  padding: 4rem 0;
}

.form-title {
  grid-column: 1 / -1;
  font-family: 'Crimson Text', serif;
  font-size: 2rem;
  color: hsla(0, 100%, 100%, 1);
  letter-spacing: 0.01;
}

.form-description {
  grid-column: 1 / -1;
  text-align: center;
  background: hsla(0, 100%, 100%, 0.8);
  color: hsla(0, 100%, 0%, 1);
  padding: 1.2rem;
  border-radius: 0.3rem;
}

.form-name,
.form-email,
.form-subject {
  grid-column: 1 / 2;
}

.form-message {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
}
input,
textarea {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.3rem;
  opacity: 0.8;
  font-family: inherit;
  color: hsla(0, 25%, 40%, 1);
}

.btn {
  height: 4rem;
  width: 10rem;
  place-self: end;
  margin: 1rem auto;
  padding: 1rem;
  background: hsla(200, 100%, 100%, 1);
  border: solid 0.1rem hsla(200, 100%, 15%, 0.5);
  border-radius: 0.3rem;
  color: hsla(200, 100%, 15%, 1);
  font-size: 1.2rem;
  max-width: 10rem;
  text-align: center;
  transition: 0.2s;
}

.btn:hover {
  background: hsla(200, 100%, 98%, 1);
  transition: 0.2s;
}

.btn-success {
  background: hsla(115, 100%, 25%, 1);
  border: none;
  color: hsla(200, 100%, 100%, 0.8);
}

.btn-success:hover {
  background: hsla(115, 100%, 25%, 0.8);
}

.btn-details {
  background: hsla(225, 100%, 25%, 1);
  border: none;
  color: hsla(200, 100%, 100%, 0.8);
}

.btn-details:hover {
  background: hsla(225, 100%, 25%, 0.8);
}

.btn-warning {
  background: hsla(0, 100%, 25%, 1);
  border: none;
  color: hsla(200, 100%, 100%, 0.8);
}

.btn-warning:hover {
  background: hsla(0, 100%, 25%, 0.8);
}

.form-btn {
  grid-column: 2 / 3;
  background: hsla(200, 100%, 0%, 0.8);
  color: hsla(0, 100%, 100%, 1);
  border: 0.05rem solid hsla(0, 100%, 100%, 1);
  margin: 0.2rem;
  place-self: start;
}

.card-small {
  display: grid;
  grid-template-columns: minmax(15rem, 16.75rem);
  grid-template-rows: min-content min-content min-content auto;
  max-width: 16.75rem;
  font-size: 1rem;
  background: hsla(200, 100%, 85%, 1);
}

.card-small-image {
  width: 100%;
  height: 16.75rem;
  object-fit: cover;
}

.card-title-center {
  text-align: center;
}

.card-medium {
  display: grid;
  grid-template-columns: minmax(15rem, 23rem);
  grid-template-rows: min-content min-content min-content auto;
  max-width: 23rem;
  font-size: 1rem;
  background: hsla(200, 100%, 85%, 1);
}

.card-medium-image {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.card-title {
  font-family: 'Crimson Text', serif;
  font-size: 1.4rem;
  margin: 0.75rem 0 0 1.5rem;
  color: hsla(200, 100%, 5%, 1);
}

.card-text {
  margin: 0.25rem 1.5rem 0.75rem 1.5rem;
}

.card-large {
  display: grid;
  grid-template-columns: minmax(23rem, 35rem);
  grid-template-rows: min-content min-content min-content auto;
  max-width: 35rem;
  font-size: 1rem;
  background: hsla(200, 100%, 85%, 1);
}

.card-large-image {
  width: 100%;
  height: 13rem;
  object-fit: cover;
}

.card-max {
  display: grid;
  grid-template-columns: minmax(34rem, 71.5rem);
  max-width: 71.5rem;
  font-size: 1rem;
  background: hsla(200, 100%, 85%, 1);
}

.card-max-image {
  width: 100%;
  height: 26rem;
  object-fit: cover;
}
.footer-section {
  text-align: center;
  padding: 1.5rem 0;
}
.footer-title {
  color: hsla(0, 100%, 0%, 1);
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.footer-text {
  font-size: 1rem;
  padding: 1rem 0 4rem 0;
  max-width: 30rem;
  margin: 0 auto;
  /* border-bottom: solid 0.05rem hsla(0, 100%, 0%, 1); */
}

.footer-copyright {
  padding: 3rem 0 0 0;
  border-top: solid 0.05rem hsla(0, 100%, 0%, 1);
}

.selected {
  background-color: hsla(200, 100%, 90%, 0.1);
  transition: 0.2s;
}
